<IfModule mod_rewrite.c>
RewriteBase /beta
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/beta/index.php
RewriteCond %{REQUEST_URI} !^/beta/src
RewriteCond %{REQUEST_URI} !^/beta/img
RewriteCond %{REQUEST_URI} !^/beta/plugins
RewriteCond %{REQUEST_URI} !^/beta/?page=
RewriteCond %{REQUEST_URI} !^/beta/?logincheck.php

#RewriteRule ^(.+)$ /beta/index.php?page=$1
</IfModule>